* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #000;
  color: #fff;
  text-align: center;
}

/* ===== PUBLIK ===== */
.hero {
  padding: 60px 20px;
}

.promo {
  margin: 30px 0;
}

.red {
  color: red;
}

.small {
  font-size: 14px;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 15px 30px;
  background: red;
  color: white;
  text-decoration: none;
  border-radius: 30px;
  font-weight: bold;
}

.danger {
  background: darkred;
}

/* ===== ADMIN ===== */
.admin-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.admin-box {
  background: #111;
  padding: 30px;
  border-radius: 15px;
  width: 100%;
  max-width: 350px;
}

.admin-box input {
  width: 100%;
  padding: 12px;
  margin: 15px 0;
  border-radius: 8px;
  border: none;
}

.admin-box button {
  width: 100%;
  padding: 12px;
  background: red;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 8px;
}

#error {
  color: red;
  margin-top: 10px;
}

.admin-panel {
  padding: 50px 20px;
}
